* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #c2d0d0;
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 20px;
    /* cursor: pointer; */
    border: 1px solid blur(10px);
    background: rgb(68, 118, 210);
    color: white;
    border-radius: 8px;
}

.btn:hover {
    background: #414349;
}

.btn:active {
    background: #56585D;
    border: 2px solid var(--blue);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    margin: 0 auto;
    /* text-transform: uppercase; */
    font-weight: 600;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    /* text-transform: uppercase; */
    font-weight: 600;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    /* text-transform: uppercase; */
    font-weight: 600;
}

h4 {
    font-size: 24px;
    color: white;
    /* text-transform: uppercase; */
    font-weight: 600;
}

strong {
    color: rgb(68, 118, 210);
    text-shadow: #183fb3 1px 1px 2px, #5275cd 0 0 1em, #ffffff 0 0 0.5em;
}

label {
    font-size: 24px;
    color: var(--blue);
}

input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    color: var(--blue);
    background: black;
    border: 2px solid var(--blue);
}

.checker {
    color: white;
    font-size: 30px;
}

.btn-slide {
    display: block;
    width: 100px;
    height: 100px;
    background: var(--blue);
    color: rgb(245, 245, 245);
    font-size: 20px;
    /* text-transform: uppercase; */
    border-radius: 50%;
    font-weight: 800;
    z-index: 1;
}

.btn-slide:hover {
    background:blur(10px) !important;
    /* cursor: pointer; */
    color: white;
}

:root {
    --blue:  rgb(68, 118, 210);
}